.container {
  display: flex;
  position: relative;
  top: 10vh;
  flex-direction: column;
  color: rgba(197, 197, 197, 0.781);
  min-height: 160vh;
}

.container img{
  border-radius: 9px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  padding: 15px;
  position: relative;
  right: 10px;
}
  .btn {
    background-color: transparent;
    color:rgba(197, 197, 197, 0.781);
    border-radius: 9px;
    border:solid rgba(197, 197, 197, 0.781);
    padding: 10px;
    margin: 10px;
  }

  .btn hover {
    background-color: black;
    color: aliceblue;
    transition: all 1s;
  }
