<div class="container-fluid">
  <h1>About us</h1>
  <h4>The power of Seven Changes the Gaming Rules</h4>
  <h2>Our Dream</h2>
  <p>Giving the wold a easy and fast and affordable way for everyone from every place on the Earth playing games without limits, sharing his favorite games with friends and enjoying every moments of his game-playing.</p>
  <h2>What is Cloud Gaming?</h2>
  <p>The concept of cloud gaming is a relatively new technology in which the game engine processing happens on a powerful server and the video stream is sent to any computer using nothing other than the power of the internet. Cloud gaming is a streaming service that provides high-quality gaming content but has high demands of internet bandwidth and server capacity. Using any available device like laptop, pc, smartphone or a tablet you could stream a gameplay simultaneously at your home or wherever you are offer your max levels of conveniences. That means a your PC is no longer needed last technologies hardware.</p>
  <h4>ALL YOU NEED IS A GOOD INTERNET CONNECTION.</h4>
  <h2>How to join us?</h2>
  <p>There are 3 Subscription Modes available adjusted to your own needs:</p>
  <ul>
    <li>Basic: Only one user account subscription for 8.99 $ per month</li>
    <li>PLUS: 2 User Accounts Subscription for 12.89 $ per month</li>
    <li>Pro: 4 User – Family Pack Subscription for 22.98 $ per month</li>
  </ul>
  <h2>Why to choose us?</h2>
  <ul>
    <li>Accessible from wherever you are just with your internet connection</li>
    <li>Compatible with all kind of devices ( PC, laptops, tablets and smartphones) and operating systems ( Windows, Mac etc.)</li>
    <li>Available 500+ already existing and new released games</li>
    <li>Sharing your games with your friend on social media</li>
  </ul>
  <a class="btn btn-danger btn-lg" [routerLink]="'/register'" role="button">Subscribe Now</a>
</div>
