.form-row {
  display: flex;
  position: relative;
  top: 10vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  color: rgba(197, 197, 197, 0.781);
  background-color: transparent;
}

.form-row input {
  background-color: transparent;
  color: aliceblue;
}

.subscription {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.card {
  text-align: center;
  background-color: transparent;
  color:aliceblue;
  border: aliceblue  1px solid;
  border-radius: 9px;
  padding: 15px;
  margin: 15px;
  left: 235px;
}

.header {
  display: flex;
  justify-content: center;
  color: aliceblue;
}
