<div class="header">
  <h1>Available 500+ Games, New Releases, Exclusive Content</h1>
  <h2>Enter your details to subscribe now!</h2>
</div>

<div class="register">

<form [formGroup]="RegisterForm">
  <div class="form-row">
    <div class="form-group col-md-3 mb-3">
      <label>Full Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Full Name"
        formControlName="fullName"
        [ngClass]= "{'is-invalid' :
          RegisterForm.get('fullName')?.touched &&
          RegisterForm.get('fullName')?.invalid}"
      />
      <div *ngIf="RegisterForm.get('fullName')?.hasError('required') &&
        RegisterForm.get('fullName')?.touched">
        <small class="text-danger">Name is required</small>
      </div>
      <div *ngIf="RegisterForm.get('fullName')?.hasError('minlength') &&
        RegisterForm.get('fullName')?.touched">
        <small class="text-danger">Name should be at least 3 characters</small>
      </div>
      <div *ngIf="RegisterForm.get('fullName')?.hasError('maxlength')">
        <small class="text-danger">Name should not be more than 10 charcters</small>
      </div>
      <div *ngIf="RegisterForm.get('fullName')?.hasError('pattern')">
        <small class="text-danger">Invalid pattern</small>
      </div>
    </div>
    <div class="form-group col-md-3 mb-3">
      <label>Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        placeholder="Email"
        [ngClass]= "{'is-invalid' :
          RegisterForm.get('email')?.touched &&
          RegisterForm.get('email')?.invalid}"
      />
      <div *ngIf="RegisterForm.get('email')?.hasError('required') &&
      RegisterForm.get('email')?.touched">
      <small class="text-danger">Email is required</small>
      </div>
      <div *ngIf="RegisterForm.get('email')?.hasError('email') &&
      RegisterForm.get('email')?.touched">
      <small class="text-danger">This is not a valid e-mail format</small>
      </div>
    </div>
    <div class="form-group col-md-3 mb-3">
      <label>Password</label>
      <input
        type="password"
        name="password"
        formControlName="password"
        class="form-control"
        placeholder="Password"
        [ngClass]= "{'is-invalid' :
          RegisterForm.get('password')?.touched &&
          RegisterForm.get('password')?.hasError('required') ||
          RegisterForm.hasError('notSame')}"
      >
      <div *ngIf="RegisterForm.get('password')?.hasError('required') &&
      RegisterForm.get('password')?.touched">
      <small class="text-danger">Password is required</small>
      </div>
      <div *ngIf="RegisterForm.hasError('notSame')">
      <small class="text-danger">Passwords do not match</small>
      </div>
    </div>
    <div class="form-group col-md-3 mb-3">
      <label>Confirm Password</label>
      <input
        type="password"
        name="confPass"
        formControlName="confirmPass"
        class="form-control"
        placeholder="Confirm Password"
        [ngClass]= "{'is-invalid' :
        RegisterForm.get('confirmPass')?.touched &&
        RegisterForm.get('confirmPass')?.hasError('required') ||
        RegisterForm.hasError('notSame')}"
      >
      <div *ngIf="RegisterForm.get('confirmPass')?.hasError('required') &&
      RegisterForm.get('confirmPass')?.touched">
      <small class="text-danger">Password is required</small>
      </div>
      <div *ngIf="RegisterForm.hasError('notSame')" >
      <small class="text-danger">Passwords do not match</small>
      </div>
    </div>
    <div class="form-group col-md-3 mb-3">
      <label>Date of Birth</label>
      <input
        type="date"
        name="dob"
        formControlName="dob"
        class="form-control"
        placeholder="Date of Birth"
        [ngClass]= "{'is-invalid' :
          RegisterForm.get('dob')?.hasError('required') &&
          RegisterForm.get('dob')?.touched}"
      >
      <div *ngIf="RegisterForm.get('dob')?.hasError('required') &&
      RegisterForm.get('dob')?.touched">
      <small class="text-danger">Date of birth is required</small>
      </div>
    </div>
  </div>
</form>
<div class="mid">
  <h1>Choose a plan</h1>
</div>
<div class="subscription">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Basic</h5>
      <h6 class="card-text">1 Member</h6>
      <p class="card-text">Price: 8.99$ per month</p>
      <input type="radio" name="isChecked">
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Plus</h5>
      <h6 class="card-text">2 Members</h6>
      <p class="card-text">Price: 12.98$ per month</p>
      <input type="radio" name="isChecked">
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Pro</h5>
      <h6 class="card-text">4 Members</h6>
      <p class="card-text">Price: 22.98$ per month</p>
      <input type="radio" name="isChecked">
    </div>
  </div>
</div>


<form [formGroup]="PaymentForm">
  <div id="payment" class="form-row">
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <strong>Choose Payment Method</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item">Visa / MasterCard / Amex</a></li>
        <li><a class="dropdown-item" href="https://www.paypal.com/signin">Paypal</a></li>
      </ul>
    </div>
    <div class="form-group col-md-3 mb-3">
      <label>Card Number</label>
      <input
        type="text"
        class="form-control"
        placeholder="Card Number"
        formControlName="card"
        [ngClass]= "{'is-invalid' :
          PaymentForm.get('card')?.touched &&
          PaymentForm.get('card')?.invalid}"
      />
      <div *ngIf="PaymentForm.get('card')?.hasError('required') &&
        PaymentForm.get('card')?.touched">
        <small class="text-danger">Card Number is required</small>
      </div>
      <div *ngIf="PaymentForm.get('card')?.hasError('pattern') &&
      PaymentForm.get('card')?.touched">
      <small class="text-danger">Card Number should be numbers only</small>
    </div>
    </div>
    <div class="form-group col-md-3 mb-3">
      <label>Card Holder Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Card Holder Name"
        formControlName="cardHolder"
        [ngClass]= "{'is-invalid' :
          PaymentForm.get('cardHolder')?.touched &&
          PaymentForm.get('cardHolder')?.invalid}"
      />
      <div *ngIf="PaymentForm.get('cardHolder')?.hasError('required') &&
        PaymentForm.get('cardHolder')?.touched">
        <small class="text-danger">Card Holder Name is required</small>
      </div>
      <div *ngIf="PaymentForm.get('cardHolder')?.hasError('pattern') &&
        PaymentForm.get('cardHolder')?.touched">
        <small class="text-danger">Card Holder Name should not include numbers</small>
      </div>
    </div>
    <div class="form-group col-md-3 mb-3">
      <label>Card Expiry Date</label>
      <input
        type="Date"
        class="form-control"
        formControlName="expireDate"
        [ngClass]= "{'is-invalid' :
          PaymentForm.get('expireDate')?.touched &&
          PaymentForm.get('expireDate')?.invalid}"
      />
      <div *ngIf="PaymentForm.get('expireDate')?.hasError('required') &&
        PaymentForm.get('expireDate')?.touched">
        <small class="text-danger">Card Holder Name is required</small>
      </div>
    </div>
  </div>
</form>
<div class="subscribe">
  <button (click)="onSubmit()" class="btn btn-danger" >Register</button>
</div>


</div>
