<div class="sidebar">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 260px;">
    <a href="/dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Seven</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="btn" (click)="requestGames()">
          Home
        </a>
      </li>
      <!-- <li>
        <a href="/dashboard" class="nav-link text-white">
          Dashboard
        </a>
      </li> -->
      <li>
        <a class="btn" (click)="requestNewRelease()">
          <!-- <div *ngIf="release"> loading........ </div> -->
          <!-- {{release}} -->
          New Releases
        </a>
      </li>
      <li>
        <a class="btn" (click)="requestPopular()">
          <!-- <div *ngIf="release"> loading........ </div> -->
          <!-- {{release}} -->
          Popular
        </a>
      </li>
      <li>
        <!-- <div class="dropdown"> -->
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Genres
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
          <li><a class="btn" (click)="requestAction()">Action</a></li>
          <li><a class="btn" (click)="requestIndie()">Indie</a></li>
          <li><a class="btn" (click)="requestSports()">Sports</a></li>
        </ul>
        <!-- </div> -->
      </li>
      <!-- <li>
        <a href="dashboard" class="nav-link text-white">
          Genres
        </a>
      </li> -->
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>User Name</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div *ngIf="home">
    <h1> Suggestions </h1>
  </div>
  <div *ngIf="release">
    <h1> New Releases </h1>
  </div>
  <div *ngIf="popular">
    <h1> Most Popular </h1>
  </div>
  <div *ngIf="action">
    <h1> Action Games </h1>
  </div>
  <div *ngIf="indie">
    <h1> Indie Games </h1>
  </div>
  <div *ngIf="sports">
    <h1> Sport Games </h1>
  </div>
  <app-game [game]="g" *ngFor="let g of response.results"></app-game>
</div>