.jumbotron {
  color: rgb(197, 197, 197);
  display: flex;
  position: relative;
  top: 6vh;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  align-items: center;
  height: 60vh;
}

.welcome {
  background-image: url("../../../assets/header.jpg");
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.buttons {
  display: inline-flex;
}

.btn {
  margin: 10px;
}
