.container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  height: 100vh;
}
.notfound {
  background: linear-gradient(#00000072, transparent 150%), #2038b0
  url("../../../assets/404.jpg") center no-repeat fixed;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
