<app-navbar-auth></app-navbar-auth>
<div class="container-fluid">
  <h1>About our app</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis inventore assumenda illo vero placeat
    doloribus sunt sapiente, quis animi quod architecto atque facilis, temporibus autem soluta a id unde reiciendis.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia dolorem enim consectetur rem animi optio illum,
    possimus nobis, reprehenderit iste voluptate voluptas delectus aliquid saepe veritatis dolorum nihil aspernatur nam?
  </p>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
  </div>
</div>
