<app-navbar-auth></app-navbar-auth>
<div class="container-fluid">
  <h1>About us</h1>
  <h4>The power of Seven Changes the Gaming Rules</h4>
  <h2>Our Dream</h2>
  <p>Giving the wold a easy and fast and affordable way for everyone from every place on the Earth playing games without limits, sharing his favorite games with friends and enjoying every moments of his game-playing.</p>
  <h2>What is Cloud Gaming?</h2>
  <p>The concept of cloud gaming is a relatively new technology in which the game engine processing happens on a powerful server and the video stream is sent to any computer using nothing other than the power of the internet. Cloud gaming is a streaming service that provides high-quality gaming content but has high demands of internet bandwidth and server capacity. Using any available device like laptop, pc, smartphone or a tablet you could stream a gameplay simultaneously at your home or wherever you are offer your max levels of conveniences. That means a your PC is no longer needed last technologies hardware.</p>
  <h4>ALL YOU NEED IS A GOOD INTERNET CONNECTION.</h4>
</div>
